:root {
  --primary-color: #272822;
  --secondary-color: white;
}

body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

body, button {
  font-family: 'Redressed', cursive;
  color: var(--secondary-color);
}

button {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
}

h1 {
  margin-bottom: 16px;
}

.header-container {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 24px;
}

.button-container {
  display: flex;
}

#reset {
  margin-left: 24px;
  margin-right: 24px
}