:root {
  --primary-color: #272822;
  --secondary-color: white;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
}

body, button {
  font-family: 'Redressed', cursive;
  color: var(--secondary-color);
}

button {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 2rem;
}

.header-container {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
}

#reset {
  margin-left: 20px;
  margin-right: 20px
}